@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Light.woff2') format('woff2'),
       url('Satoshi-Light.woff') format('woff');
       font-weight:300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Regular.woff2') format('woff2'),
       url('Satoshi-Regular.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Medium.woff2') format('woff2'),
       url('Satoshi-Medium.woff') format('woff');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Bold.woff2') format('woff2'),
       url('Satoshi-Bold.woff') format('woff');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('Satoshi-Black.woff2') format('woff2'),
       url('Satoshi-Black.woff') format('woff');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #363636;
  line-height: normal;
}

h1,h2,h3,h4,h5,h6 {
  /* font-family: 'Satoshi'; */
  color:#123C7B;
}
p{
  /* font-family: 'Satoshi'; */
  font-size: 20px;
}
h1{
  font-weight: 800;
  font-size: 54px;
  margin-top:0px;
}

.p60{
  padding-top: 60px;
  padding-bottom: 60px;
}


/* button */
.custom_button {
  padding: 8px 20px 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  transition: .2s ease all;
  display: inline-block;
  border: 2px solid #123C7B;
  background-color: #123C7B;
  cursor: pointer;
  text-align: center;
  min-width: 150px;
  text-transform: capitalize;
}
.custom_button:hover {
  color:#123C7B;
  background-color:#FFFFFF;
}
.custom_button.white {
  border-color: #fff;
  background-color: #fff;
  color: #123C7B;
}
.custom_button.white:hover {
  border-color: #B0D8BB;
  background-color: #B0D8BB;
  color: #123C7B;
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  min-width: 400px;
}
.header_main{
   padding: 0px 50px;
} 
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.7px solid #363636;
  padding: 10px;
}
.header_top .hdt_in ul {
  display: flex;
}
.hdt_in ul li {
  margin-right: 30px;
}
.hdt_in ul li a,
.hdt_in p {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #363636;
  transition: 0.2s ease all;
  margin-bottom: 0;
  font-size: 12px;
}
.hdt_in p a {
  transition: 0.2s ease all;
  color: #363636;
}
.hdt_in ul li a:hover,
.hdt_in p a:hover,
.hdt_in ul li a.current {
  color: #123c7b;
}
.show_list:hover + .list_item,
.list_item:hover {
  display: block;
  visibility:visible;
  opacity: 1;
  z-index: 999;
}
.show_list {
  position: relative;
}
.list_item {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 999;
  transition: 0.7s ease all;
  border: none;
  width:200px;
}
.list_item .list ul li{
  margin:0px;
}
.ht2 {
  border: none;
  padding: 0px;
  height: 80px;
}
.hdtr2 {
  height: 100%;
}
.hdtr2 ul {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: none;
}
.list{
  width: 100%;
  height:300px;
}
.list ul {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  background-color: white;
}

.list ul li {
  margin-top: 50px;
  height:30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  background-color: white;
}
.list ul li a{
  color:#123c7b;
}
.list ul li:hover {
  width: 100%;
  background-color: #123c7b;
  color: white;
}
.list ul li:hover a {
  color: white;
}
#cross_icon {
  display: none;
}

  .hamburger {
    display: none;
  }
  .dropdown-content2{
    background-color: #123c7b;
    width:100%;
    height:100vh;
    position: absolute;
    left:-100%;
    transition: .5s ease all;
    
  }
  .dropdown-content2 ul{
    display: flex;
    margin-left: 5%;
    flex-direction: column;
  }
  .dropdown-content2 ul li{
    margin-top: 40px;
  }
  .dropdown-content2 ul li:last-child{
    margin-bottom: 40px;
  }
  .dropdown-content2 ul li a{
    color:#fff;
  }
  .dropdown-content2 ul li a:hover{
    border-bottom: 1px solid #fff;
  }





      /* banner start */
      .banner_innermain{
         width:50%;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .banner_inner1{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .banner_inner1_heading{
        padding:100px 0px;
      }
      .banner_para1{
        font-weight: 500;
        font-size: 20px;
      }
      .banner_button{
        margin-top: 50px;
      }
      .banner_logodiv{
        width: 100%;
        margin-bottom: 100px;
        padding: 0px 0px;
      }
      .banner_logodiv p{
        color:#123C7B;
        font-weight: 900;
        font-size: 18px;
      }
      .banner_logoimg{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-row-gap: 40px;
        grid-column-gap: 40px;
      }

        .banner_main{
          width:100%;
          display: flex;
        }
        .banner_inner2{
          width: 50%;
          position: relative;
          overflow: hidden;
        }
        .banner_image{
          width: 100%;
        }
       .banner_image img{
        width:100%;
        position:relative;
        left: 70px;
        bottom: 70px;
        transform: rotate(7deg);
        border-bottom-left-radius: 30%;
        box-shadow: 0px 25px 0px 1px #d2dee6;
       }
    
       
      /* banner ends */


/* chat-option */
.chat_option{
   font-size: 50px;
   /* color:#123C7B; */
   position: fixed;
   right:10px !important;
   top:300px !important;
   z-index: 999;
}
.chat_option a {
  font-size: 20px;
}
.chat_option a:hover{
  cursor: pointer;
}


/* b heading section */

.b_hading{
  padding:40px 30px;
}
.b_hading .heading{
  width:80%;
}
.b_hading .heading h2{
  font-weight: 900;
  color:#363636;
  
}


/* service section */

.service_main{
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.service_card_main{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap:70px;
  grid-row-gap: 90px;
  padding: 60px 100px;
}
.service_heading_main{
  padding: 0px 30px;
}
.service_heading_main p{
 color:#363636;
 font-weight: 700;
}
.s_card{
  display: flex;
  flex-direction: column;
  width: 85%;
  transition: .3s ease all;
}
.s_card p{
  font-weight: 500;
  font-size: 20px;
}
.s_card a{
    color: #123C7B;
    text-transform: uppercase;
 }
 .learn_link{
  margin-top: 15px;
  transition: 1s ease all;
 }

 .s_card .learn_link:hover{
  transform: translateX(25px);
  color:rgb(0, 191, 255);
 }
 .s_card .learn_link:hover a{
  color:rgb(0, 191, 255);
 }
.service_button{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.learn_link{
   font-size: 10px;
}

/* service section ends */





      /* Employee Section */

    .employee_section{
      padding: 150px 0px;
      background-image:url('../img/Rectangle\ 148.svg');
      background-repeat: no-repeat;
      background-position: right 80%;
      background-size: cover;
    }
    .employee_main{
      width:100%;
      display: flex;
      justify-content: space-between;
    }
    .employee_inner1{
      width:40%;
    }
    
    .employee_inner1 p{
        font-weight: 700;
        color: #363636;
    }
    .employee_inner2{
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 40px;
      grid-column-gap: 40px;
    }
    .employee_item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #d2dee6;
      border-radius: 20px;
      width:65%;
    }
    .employee_item h1{
      margin: 0px;
    }
    .emp_item p{
      font-size: 20px;
      color: #123C7B;
    }
    .emp_item{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height:100%;
      padding:25px 0px;
      text-align: center;
      box-shadow: 12px 12px 0px 1px rgba(0, 0, 0, 0.2);
    }


    /* Employee Section Ends */



/* serve section */
.serve_maindiv{
  width:70%;
  padding-bottom: 0px;
  padding-left: 30px;
}
.serve_maindiv p{
  font-weight: 700;
  font-size: 24px;
}

/* serve section */

/* card section */
.card_main{
  margin-top: 50px;
  position: relative;
  padding-bottom: 60px;
}
.card_button1{
  position: absolute;
  bottom: 70px;
  z-index: 999;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  height:600px;
}
.card_img{
  height: 300px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

}
.card_img img{
  height:100%;
  width:100%;
}
.card_heading{
  width:100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card_para{
  width:80%;
  text-align: center;
}
.card_button{
  width:100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  transition: .5s ease all;
}
.card_button a{
  font-weight: 500;
  font-size: 10px;
  color:#123C7B;
  text-transform: uppercase;
}
.card_button:hover{
    color:rgb(0, 191, 255);
    transform: translateX(25px);
}
.card_button a:hover{
  color:rgb(0, 191, 255);
}

/* card section ends */


/* mapsection start */

.map_section{
  background-color:#F8F8F8; 
}

.map_main{
  width:100%;
  display: flex;
}
.map_imgdiv{
  width:50%;
}
.map_img{
  width:100%;
}
.map_text{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat_textinner{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-end;
}
.mat_textinner p{
  text-align: justify;
}
.map_heading{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.map_btn{
  border-radius: 50%;
  padding: 10px 10px;
  min-width: 46px;
}
.map_btn1{
  height:50px;
  width:50px;
  border-radius: 50%;
  padding: 0px;
  min-width: 0px;
}
.map_btn2{
  margin-top: 40px;
}



/* carousel section */
.carousel_main_section{
  padding-bottom: 60px;
}
.carousel_main_section .container .inner_main{
  border:5px solid #B0D8BB;
  padding: 5px 50px 50px 50px;
  border-top: none;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width:100%;
}
.item{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_img{
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  overflow: hidden;
}
.item .main_item{
  width:100%;
  display: flex;
  justify-content: center;
}
.before_img{
  margin-top: 30px;
}
.after_img{
  margin-top: 30px;
}
.item .item_para{
  margin-top: 50px;
  max-width:80%;
  text-align: center;
  position: relative;
 
}

.item .item_para{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item_para .para2{
  font-size: 14px;
}
.owl-theme .owl-dots{
  display:none;
}

.owl-theme .owl-nav{
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 35px !important;
  padding: 4px 7px !important;
}
.owl-t2 .owl-nav{
  bottom: -8%;
}
.owl-nav button.owl-next ,button.owl-prev{
 background-color: #123C7B !important;
 border:1px solid black !important;
 color:#FFFFFF !important;
 width:42px !important;
 border-radius: 50% !important;
 transition: .3s ease all;
}
.owl-nav button.owl-next ,button.owl-prev:hover{
  background-color: #B0D8BB;
}
.owl-nav button.owl-next span ,button.owl-prev span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px !important;
}

.carousel_button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.button_inner{
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.button_inner button{
  padding: 8px 10px 8px 10px;
  min-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  width:50px;
  font-size: 25px;
  border-radius: 50%;
}



/* work section start */

  .work_section{
    background-color: #F8F8F8;
    padding: 60px 0px;
  }
  .work_section .container-fluid{
    display: flex;
    justify-content: space-between;
  }
  .work_img{
    width:40%;
    height:0%;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    padding-top: 70%;
  }
  .work_img img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }
  .work_text{
    width:50%;
    display: flex;
    align-items: center;
    padding:40px;
  }
  .work_textinner{
    width:100%;
  }
  .work_heading{
    display: flex;
    flex-direction: column;
    /* text-align: justify; */
  }
  .work_heading p{
    font-weight: 700;
    color:#123C7B;
    font-size: 24px;
  }
  .accordion-item{
    margin-top: 40px;
    border-bottom: 1px solid #000000;
  }
  .accordion-button{
    font-size: 32px;
    color:#123C7B;
    background-color: #F8F8F8;
  }
  .accordion-body{
    background-color: #F8F8F8;
    padding-left: 40px;
  }

/* work section end */



  /* form-section start */
  .form_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Rectangle\ 147.svg");
    background-repeat: no-repeat;
    background-position: right 70%;
  }
  .form_maindiv{
    width:50%;
  }

  .form_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_heading p{
    color: #123C7B;
  }
  .from_inner{
    margin-top: 20px;
  }
  .from_inner input{
    border:none;
    outline:none;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.50);
    width:100%;
    margin-bottom: 18px;
    padding-bottom: 10px;
  }
  .from_inner input::placeholder{
    color:#000000;
  }
  .form_smtbtn{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .accordion-button:not(.collapsed)::after{
    background-image: url('../img/sub.svg');
  }
  .accordion-button1::after{
    background-image: url('../img/sub.svg');
  }
  .accordion-button::after{
    background-image: url('../img/add.svg');
  }
  /* form section ends */



  /* footer start */


 .footer_section{
    background-color: #123C7B;
    z-index: 990;
    position: relative;
  }
  .midnightHeader.default {
    color: #123C7B;
    z-index: 999;
  }
  .midnightHeader.blue a,.midnightHeader.blue i{
    color: white;
  }

  .footer_item{
    width:100%;
    display: flex;
    padding:60px 0px;
    justify-content: space-between;
  }
  .s_icons{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  .logo{
    width:21%;
    color:#FFFFFF;
  }
  .footer_text{
    margin-top: 20px;
    text-align: justify;
  }
  .footer_text p {
    margin: 0px;
  }
  .footer_logo{
    width:100%;
  }
  .footer_logoimg{
    width:100%;
  }
  .footer_list{
    width:70%;
  }
  .footer_litem{
    display:flex;
    width:100%;
    justify-content: space-between;
    color:white;
  }
  .footer_litem h5{
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .footer_litem li{
        margin-top: 15px;
  }
  .footer_litem a{
    color:#FFFFFF;
   margin-top: 30px;
   font-size: 14px;
   transition: .5s ease all;
  }
  .footer_litem a:hover{
    border-bottom: 1px solid #FFFFFF;
  }
/* footer ends */



/* media Quaries */

@media screen and (max-width:992px) {
  .banner_main{
      display: flex;
      flex-direction: column-reverse;
  } 
  .banner_inner2{
    width:100%;
  } 
  .banner_innermain{
      width:100%;
  }
  .b_hading .heading {
    width: 100%;
}
  .service_card_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
  }
  .service_heading_main{
    padding: 0px 30px;
   } 
    .s_card{
      width:100%;
    }
    .owl-t2 .owl-nav{
      bottom: -12%;
    }
  .employee_section{
    background-image: none;
    padding: 60px 0px;
  }
  .employee_main {
    display: flex;
    flex-direction: column;
  }
  .employee_inner1{
    width: 100%;
  }
  .employee_inner2{
    width:100%;
  }
  .serve_maindiv{
    width:100%;
  }
  .footer_item{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_litem{
    margin-top: 20px;
  } 
  .logo{
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  .footer_logo{
    width:30%;
    display: flex;
    align-items: center;
  }
  .footer_text{
    width:30%;
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .s_icons{
    margin: 0px;
    width: 30%;
    display: flex;
    align-items: center;
  }
   
.footer_list{
  width: 100%;
}

}

@media screen and (max-width: 768px) {
  h1{
    font-size: 32px;
  }
  h3{
    font-size:1.5rem;
  }
  p{
    font-size: 20px;
  }
  .hdtr2 li {
    display: none;
  }
  .hamburger {
    display: block;
    align-items: center;
    display: flex;
    height: 100%;
    font-size: 25px;
  }
  .hamburger:hover{
    cursor: pointer;
  }
  .banner_inner1_heading {
    padding: 50px 0px;
  }
 .banner_logoimg{
    grid-template-columns: repeat(2,1fr);
 }
 .map_main{
  flex-direction: column;
 }
 
 .map_imgdiv{
  width: 100%;
 }
 .map_text {
  width:100%;
  padding: 40px;
 }
 .item .item_para::before{
  left: -45px;
 }
 .item .item_para::after {
  right: -45px;
 }

  .work_img{
    display: none;
  }
  .work_img img{
    display: none;
  }
.work_text{
width:100%;
padding: 0px 15px;
}
  .form_maindiv{
    width:80%;
  }
  .form_section{
    background-image: none;
  }
}
@media screen and (max-width: 600px) {
  .ht1 {
    display: none;
  }
  /* .item .item_para::before ,.item_para::after{
    display: none;
  } */
  
}


@media screen and (max-width:540px) {
  .map_text {
    padding: 60px 0px;
  }
  .item_img{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .banner_inner1_heading{
    padding:60px 0px ;
  } 
  .banner_logodiv{
    padding: 0px;
  }
  .service_card_main {
    grid-template-columns: repeat(1,1fr);
  }
  .s_icons{
      display: grid;
      width:20%;
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 10px;
      grid-column-gap: 10px;
  }
  .s_icons div{
    display: flex;
    align-items: center;
  }
  .s_icons img{
    width:100%;
  }
  .footer_text{
    width:45%;
    text-align: justify;
  }
  .footer_text p {
    margin:0px;
  }
  .footer_litem{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}

@media screen and (max-width:500px) {
  .carousel_main_section .container .inner_main{
    padding: 5px 30px 50px 30px;
  }
  .b_hading {
    padding: 40px 25px;
}
  .employee_inner2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    place-items: center;
}
.employee_main {
  padding-left: 13px;
}
.banner_inner1_heading{
  padding-top: 0px;
}
.form_maindiv{
  width:100%;
  padding:0px 30px;
} 
.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 210px;
}
.footer_list{
  margin-top: 40px;
}
.footer_litem{
 
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
}
.footer_logo{
  width: 100%;
}
.footer_logoimg{
  height:60px;
}
.footer_text{
  width:100%;
  text-align: left;
}
.s_icons{
  width: 100%;
  grid-template-columns: repeat(4,1fr);
}
}